<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="nav-bar">
        <div class="nav-wrapper">
            <a href="/" class="logo">Log<span>App</span></a>
            <img src="~/Images/user-img.svg" class="no-close" id="user-pic" />
            <div id="user-info-signed" class="user-info hidden no-close">
                <div class="container no-close">
                    <label for="menu-user" class="no-close">Uporabnik:</label>
                    <span id="menu-user" class="no-close"></span>
                    <br />
                    <label for="menu-id" class="no-close">ID:</label>
                    <span id="menu-id" class="no-close"></span>

                    <a class="user-info-spremeni no-close" href="/logiranje/prijava">Spremeni</a>
                </div>
            </div>
            <div id="user-info-unsigned" class="user-info hidden no-close">
                <div class="container no-close">
                    <span id="menu-user" class="no-close">Uporabnik ni prijavljen!</span>

                    <a class="user-info-spremeni no-close" href="/logiranje/prijava">Prijava</a>
                </div>
            </div>
            <div class="box-arrow arrow-left hidden" id="arrow-left"></div>
            <div class="box-arrow arrow-right hidden" id="arrow-right"></div>
        </div>
    </div>
    <div>
        <div class="wrapper">
            @RenderBody()
            @*<hr />*@
            @*<footer>
                    <p>&copy; @DateTime.Now.Year - David Preininger</p>
                </footer>*@
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/scripts.js")
</body>
</html>
